.upgrades button{

width:130px;

height:110px;

font-size:22px;

color:white;

cursor:pointer;

}


@keyframes float{

0%{

transform:
translateY(0px)

}

50%{

transform:
translateY(-10px)

}

100%{

transform:
translateY(0px)

}

}


.tapArea{

animation:

float 2.5s infinite;

}



.pop{

transform:

scale(
1.07
);

}
