*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
linear-gradient(
180deg,
#0b1020,
#111827
);

font-family:
Arial;

color:white;

}

.container{

max-width:420px;

margin:auto;

padding:20px;

min-height:100vh;

}

.top{

display:flex;

justify-content:flex-end;

}

#profile{

width:60px;

height:60px;

border:none;

border-radius:18px;

font-size:24px;

background:#222c;

color:white;

}

.coinSection{

text-align:center;

margin-top:20px;

}

#coinText{

font-size:72px;

font-weight:800;

}

.sub{

opacity:.6;

}

.energy{

margin-top:12px;

font-size:22px;

}

.coin{

width:240px;

height:240px;

margin:35px auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:90px;

cursor:pointer;

background:

linear-gradient(
135deg,
#7c3aed,
#06b6d4
);

box-shadow:

0 0 80px
#5b7cff;

animation:

float 2.2s infinite;

}

@keyframes float{

0%{
transform:
translateY(0);
}

50%{
transform:
translateY(-10px);
}

100%{
transform:
translateY(0);
}

}

.coin:active{

transform:
scale(.95);

}

.stats{

display:flex;

gap:20px;

justify-content:center;

}

.stats div{

width:130px;

padding:18px;

border-radius:20px;

background:

rgba(
255,
255,
255,
.06
);

text-align:center;

}

.upgrades{

margin-top:35px;

display:flex;

justify-content:center;

}

#buyPower{

width:220px;

height:110px;

border:none;

border-radius:25px;

background:

linear-gradient(
135deg,
#27273f,
#171720
);

color:white;

font-size:22px;

}
