.energyBox{

margin-top:25px;

text-align:center;

font-size:24px;

}



.bar{

width:260px;

height:14px;

margin:auto;

margin-top:10px;

background:#222;

border-radius:999px;

overflow:hidden;

}



#fill{

width:100%;

height:100%;

background:

linear-gradient(
90deg,
#00ff88,
#00d5ff
);

transition:.3s;

}



.upgrades{

gap:18px;

}



.upgrades button{

width:140px;

height:110px;

}
